{% if page.comments.disqus %}
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '{{ site.comments.disqus_url }}';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();

</script>
{% endif %}

<script>
    $(document).ready(function(){
    {% if page.comments.waline %}
        Waline.init({
        el: '#waline',
        serverURL: '{{ site.comments.waline_url }}',
        reaction: {{ site.comments.waline_reaction }},
        comment: true,
        locale: {{ site.comments.waline_locale }}
        });
    {% endif %}

    if($("#comments-switch").length > 0){
        var comment_status = $("#cmn-toggle-4")[0].checked;
        if(comment_status){
        $("#waline").addClass("active");
        }else {
        $("#disqus_thread").addClass("active");
        }
        $("#cmn-toggle-4").click(function(){
        $("#disqus_thread").toggleClass("active");
        $("#waline").toggleClass("active");
        })
    }else {
        if($("#disqus_thread").length > 0) {
        $("#disqus_thread").addClass("active");
        }else if($("#waline").length > 0) {
        $("#waline").addClass("active");
        }
    }
    })
</script>