---
layout: default
home-title: Welcome to My Blog Page!
description: Here you can get all of my BLOG!
cover: https://images.unsplash.com/photo-1690287363823-b9e864c01b48
---

{% include header.html %}

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.header-img %}background: url({{ page.header-img | relative_url }}) no-repeat center center; background-size: cover;{% endif %}"
>
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% include paginate.html %}

        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}
    </div>

    {% include sidebar.html %}

</main>

{% include footer.html %}
